#auth-center {
  width: 500px;
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 auto;
  left: 0;
}

#marker-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.gm-ui-hover-effect {
  display: none !important;
}

#marker-info {
  margin-bottom: 10px;
}

#country {
  font-size: 14pt;
}
